# Load the shared object
useDynLib(pgen2gds,
    SEQ_PGEN_Geno_Import
)

# Export the following names
exportPattern("^seq*")

# Import
import(methods)
import(gdsfmt)
import(pgenlibr)
importFrom(utils, capture.output, flush.console, read.table)
importFrom(SeqArray, seqParallel)
